<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.87.1" targetFramework="net40" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net40" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.7.1" targetFramework="net461" />
  <package id="EPPlus" version="4.1.0" targetFramework="net40" />
  <package id="YamlDotNet" version="4.2.0" targetFramework="net40" />
</packages>